fastapi==0.115.11
google-cloud-vision==3.10.1
pip-chill==1.0.3
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pyodbc==5.2.0
python-dotenv==1.0.1
python-tds==1.16.0
requests==2.31.0
SQLAlchemy==2.0.39
sqlalchemy_pytds==1.0.2
uvicorn==0.34.0
